@use "theme1";
@use "theme2";
@use "theme3";

@each $theme in 1,2,3{
  .container-#{theme} {
    display: flex;
    flex-direction: row;
   
    //color seleccionado en este momento
    $base-color: 'theme#{$theme}.$base-color';
    $color-box-text: 'theme#{$theme}.$color-box-text';

    .box {
      width: auto;
      height: 50px;
      margin: 5px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 6px;
      &.base-color {
        background-color:$base-color;
        color: $color-box-text;
      }
      @for $i from 1 to 5 {
        
        &.darken-#{$i} {
          background-color: darken($base-color, $i * 5%);
          color:$color-box-text;
        }
        &.lighten-#{$i} {
          background-color: lighten($base-color, $i * 5%);
          color: $color-box-text;
        }
      }
    }
  }


}

//funciona
// .container-1 {
//   display: flex;
//   flex-direction: row;

//   .box {
//     width: auto;
//     height: 50px;
//     margin: 5px;
//     display: flex;
//     align-items: center;
//     border-radius: 4px;
//     padding: 6px;
//     &.base-color {
//       background-color: $base-color;
//       color: $color-box-text;
//     }
//     @for $i from 1 to 5 {
//       &.darken-#{$i} {
//         background-color: darken($base-color, $i * 5%);
//         color: $color-box-text;
//       }
//       &.lighten-#{$i} {
//         background-color: lighten($base-color, $i * 5%);
//         color: $color-box-text;
//       }
//     }
//   }
// }

// //segunda
// .container-2 {
//   @extend .container-1;

//   .box {
//     @extend .box;
//     &.base-color {
//       background-color: theme2.$base-color;
//       color: theme2.$color-box-text;
//     }
//     &.darken-1 {
//       background-color: theme2.$darken-1;
//       color: theme2.$color-box-text;
//     }
//     &.darken-2 {
//       background-color: theme2.$darken-2;
//       color: theme2.$color-box-text;
//     }
//     &.darken-3 {
//       background-color: theme2.$darken-3;
//       color: theme2.$color-box-text;
//     }
//     &.darken-4 {
//       background-color: theme2.$darken-4;
//       color: theme2.$color-box-text;
//     }
//     &.lighten-1 {
//       background-color: theme2.$lighten-1;
//       color: theme2.$color-box-text;
//     }
//     &.lighten-2 {
//       background-color: theme2.$lighten-2;
//       color: theme2.$color-box-text;
//     }
//     &.lighten-3 {
//       background-color: theme2.$lighten-3;
//       color: theme2.$color-box-text;
//     }
//     &.lighten-4 {
//       background-color: theme2.$lighten-4;
//       color: theme2.$color-box-text;
//     }
//   }
// }

// //tercera
// .container-3 {
//   @extend .container-1;

//   .box {
//     @extend .box;
//     &.base-color {
//       background-color: theme3.$base-color;
//       color: theme3.$color-box-text;
//     }
//     &.darken-1 {
//       background-color: theme3.$darken-1;
//       color: theme3.$color-box-text;
//     }
//     &.darken-2 {
//       background-color: theme3.$darken-2;
//       color: theme3.$color-box-text;
//     }
//     &.darken-3 {
//       background-color: theme3.$darken-3;
//       color: theme3.$color-box-text;
//     }
//     &.darken-4 {
//       background-color: theme3.$darken-4;
//       color: theme3.$color-box-text;
//     }
//     &.lighten-1 {
//       background-color: theme3.$lighten-1;
//       color: theme3.$color-box-text;
//     }
//     &.lighten-2 {
//       background-color: theme3.$lighten-2;
//       color: theme3.$color-box-text;
//     }
//     &.lighten-3 {
//       background-color: theme3.$lighten-3;
//       color: theme3.$color-box-text;
//     }
//     &.lighten-4 {
//       background-color: theme3.$lighten-4;
//       color: theme3.$color-box-text;
//     }
//   }
// }
