@use "theme1";
@use "theme2";
@use "theme3";

@mixin generate-container-styles($base-color, $color-box-text) {
  .box {
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 6px;
    &.base-color {
      background-color: $base-color;
      color: $color-box-text;
    }
    @for $i from 1 to 5 {
      &.darken-#{$i} {
        background-color: darken($base-color, $i * 5%);
        color:darken($color-box-text, $i * 5%) ;
      }
      &.lighten-#{$i} {
        background-color: lighten($base-color, $i * 5%);
        color: lighten($color-box-text, $i * 5%);
      }
    }
  }
}
.container{
  display: flex;
  flex-direction: row;
}
// Container styles for theme1
.container-1 {
  @extend .container;
  @include generate-container-styles(theme1.$base-color, theme1.$color-box-text);
}
// Container styles for theme2
.container-2 {
  @extend .container;
  @include generate-container-styles(theme2.$base-color, theme2.$color-box-text);
}
// Container styles for theme3
.container-3 {
  @extend .container;
  @include generate-container-styles(theme3.$base-color, theme3.$color-box-text);
}