$base-color: #c6538c; 
$color-box-text: #fff;
$darken-1: darken($base-color, 10%);
$darken-2: darken($base-color, 20%);
$darken-3: darken($base-color, 30%);
$darken-4: darken($base-color, 40%);
$lighten-1: lighten($base-color, 10%);
$lighten-2: lighten($base-color, 20%);
$lighten-3: lighten($base-color, 30%);
$lighten-4: lighten($base-color, 40%);