body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    height: 100vh;
}

#titulo {
    font-size: 36px;
    line-height: 40px;
    color: #ecf0f1;
    position: relative;

    &:before {
        content: '[';
        position: absolute;
        left: -30px;
        line-height: 40px;
    }

    &:after {
        content: ']';
        position: absolute;
        right: -30px;
        line-height: 40px;
    }

    &:after,
    &:before {
        color: #16a085;
        font-size: 42px;
        animation: 2s linear 0s normal none infinite opacity;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}